* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  
    /* background:linear-gradient(to right, #4b79a1, #283e51); */
    background-color: #343148ff;
    font-family: 'Roboto Condensed', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-width: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    height:15%;
    /* background-color: #f6f6f2;   */
    background-color: white;
    z-index: 1;
    
}

.buttonNav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        height:20%;
        background-color: #595577;
       

}

header .logo{
    position: absolute;
  top: -41px;
 left: 40%;
 width: 234px;

}

header nav{
    position: relative;
    display: flex;
    top: 77px;
   left: 17%;
}

header nav li {
    list-style: none;
    
}

header nav li a{
    display: inline-block;
    font-weight: 400;
    margin-left: 80px;
    text-decoration: none;
    color: white;
   
   
}

.main-content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 80px;
    left: 50px;
}

.main-content .imgBox{
    position: relative; 
    top: 54px;
    left: 20px;

 z-index: 2;
}

.main-content .textBox{
    position: relative;
    max-width: 450px;
    color: white;
}

.main-content .textBox h2{
    font-size: 2.5rem;
    line-height: 1.4rem;
    font-weight: 500;
    padding: 1rem;
    
}

.main-content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 40px;
    /* background: linear-gradient(to right, #c8c1ff, #595577); */
    background-color: #d7c49eff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
}

.circle{
    position: absolute;
   top: 5%;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, #e0eafc, #cfdef3); */
    background-color: #d7c49eff;
    clip-path: circle(800px at right);
}




/* FOOTER */
/* footer {
    background-color: rgba(39, 80, 145);
    color: white;
    height: 100px;
    
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem;
} */